	<nav class="breadcrumb_nav">
         <ul>
            <li><a href="#">Material</a></li>
            <li><a href="#">Size</a></li>
            <li><a href="#">Color &amp; Quantity</a></li>
        </ul>
        <h1><span>Choose Your <%= yield(:breadcrumb) %></span></h1>
    </nav>